.container{
    width: 500px;
	height: 500px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #38A5CF;
}

.center {
    text-align: center;
    vertical-align: middle;
}